<!DOCTYPE html>
<html>
  <head>
    <title>About | About BRBBaby</title>
  </head>
  <body>
    <h1>About BRBBaby</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum labore accusantium blanditiis ab iure eaque quae quas officiis porro fugit, tempora perspiciatis. Rem impedit tempora consequatur esse dolorum quod sed!
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
