<!DOCTYPE html>
<html>
  <head>
    <title>Help | BRBBaby Help</title>
  </head>
  <body>
    <h1>BRBBaby - Need Help</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, iusto ullam adipisci debitis facere libero voluptatem eveniet earum quae impedit molestias unde blanditiis fugiat perferendis vitae quidem quisquam excepturi repellendus.
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
