<!-- :title can now be called via yield -->
<!-- html -->
<!-- body -->
<div class="center jumbotron">
	<h1>Welcome to VitStack</h1>
	<p>
		If you take one or more supplements or vitamins, try this app out.  Why not?  It's free and you can save money, swallow less pills, spend less time shopping for supplements, and cut down on packaging waste.</p>
		<br><br>
	<p>Simply enter all the supplements you take, hit enter and Vitstack will find formulas that contain a combination of those ingredients.  Let's get started.
	</p>
	<div class="container">
    <div class="row">
        <div class="col-xs-6">
            ONE
        </div>
        <div class="col-xs-6">
            TWO
        </div>
    </div>
</div>
</div>

<!-- /body -->
<!-- /html -->
