<!-- :title can now be called via yield -->
<!-- html -->
<!-- body -->
<div class="center jumbotron">
	<h1>Welcome to BRBBaby</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, iusto ullam adipisci debitis facere libero voluptatem eveniet earum quae impedit molestias unde blanditiis fugiat perferendis vitae quidem quisquam excepturi repellendus.
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
	</p>

	<%= link_to "Join our mailing list", '#', class: "btn btn-lg btn-primary" %>
</div>

<!-- /body -->
<!-- /html -->
